body {
    font-family: "Lato", sans-serif;
}

.titlecont {
    display: grid;
    place-items: center;
    text-decoration: none;
}

.homepage {
    display: grid;
    place-items: center;
}

.titlecont a:link {
    color: #000
}

.titlecont a:visited {
    color: #000
}

.titlecont a:hover {
    color: #000
}

.titlecont a:active {
    color: #000
}



.buttoncontainer {
    display: flex;
    justify-content: space-around;
}

img {
    width: 30px;
}

/* 
left nav
*/

.leftsidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.leftsidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.leftsidenav a:hover {
    color: #f1f1f1;
}

.leftsidenav .active {
    color: #f1f1f1;
}

.leftsidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .leftsidenav {
        padding-top: 15px;
    }

    .leftsidenav a {
        font-size: 18px;
    }
}


/* 
right nav
*/



.rightsidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.rightsidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.rightsidenav a:hover {
    color: #f1f1f1;
}


.rightsidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .rightsidenav {
        padding-top: 15px;
    }

    .rightsidenav a {
        font-size: 18px;
    }
}


.shabad {
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;

}

.condensed {
    word-spacing: -0.3em;
}


.assisted [class*="word"]:nth-child(odd){
    color: black;
}

.assisted [class*="word"]:nth-child(even){
    color: orange;
}



.larivaar {
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
}


.punjabi {
    text-align: center;

}


.english {
    text-align: center;

}



#backnext {
    display: flex;
    justify-content: space-around;
}

#backnext button {
    
    background-color: #000;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

#toggles {
    display: flex;
    justify-content: center;
}

#toggles button {
    background-color: #000;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;

}

.hidden {
    display: none !important;
}

p {
    display: block;
}


